@import url(https://fonts.googleapis.com/css?family=Oswald);

body {background-color: #d8d8d8;}

#button1 {
  background-color: #2f3136;
  font-family: Oswald;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  position: relative;
  margin: 5px;
}


#button2 {
  background-color: #00baff;
  font-family: Oswald;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  margin: 5px;
}

.logo {
	text-transform: uppercase;
  text-align: center;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Oswald;
  font-size: 7.5vw;
  position: inherit;
}

.subHeading {
  color: #2f3136;
  font-size: 25px;
  text-align: center;
  font-family: Oswald;
}

#p1 {
  color: #d8d8d8;
}

#p2 {
  color: #d8d8d8;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  margin-left: -60px;
  background-color: #16181b;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.15s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
