@import url(https://fonts.googleapis.com/css?family=Comfortaa);

body {background-color: #d8d8d8;}

#button1 {
  background-color: #A93226;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button1:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button1:active {
  transform: translateY(1px);
}

#button2 {
  background-color: #CB4335;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button2:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button2:active {
  transform: translateY(1px);
}

#button3 {
  background-color: #884EA0;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button3:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button3:active {
  transform: translateY(1px);
}

#button4 {
  background-color: #7D3C98;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button4:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button4:active {
  transform: translateY(1px);
}

#button5 {
  background-color: #2471A3;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button5:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button5:active {
  transform: translateY(1px);
}

#button6 {
  background-color: #2E86C1;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button6:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button6:active {
  transform: translateY(1px);
}

#button7 {
  background-color: #17A589;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button7:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button7:active {
  transform: translateY(1px);
}

#button8 {
  background-color: #138D75;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button8:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button8:active {
  transform: translateY(1px);
}

#button9 {
  background-color: #229954;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}


#button9:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button9:active {
  transform: translateY(1px);
}

#button10 {
  background-color: #28B463;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button10:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button10:active {
  transform: translateY(1px);
}

#button11 {
  background-color: #D4AC0D;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button11:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button11:active {
  transform: translateY(1px);
}

#button12 {
  background-color: #D68910;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button12:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button12:active {
  transform: translateY(1px);
}

#button13 {
  background-color: #CA6F1E;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button13:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button13:active {
  transform: translateY(1px);
}

#button14 {
  background-color: #BA4A00;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button14:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button14:active {
  transform: translateY(1px);
}

#button15 {
  background-color: #D0D3D4;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button15:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button15:active {
  transform: translateY(1px);
}

#button16 {
  background-color: #A6ACAF;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button16:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button16:active {
  transform: translateY(1px);
}

#button17 {
  background-color: #839192;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button17:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button17:active {
  transform: translateY(1px);
}

#button18 {
  background-color: #707B7C;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button18:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button18:active {
  transform: translateY(1px);
}

#button19 {
  background-color: #2E4053;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button19:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button19:active {
  transform: translateY(1px);
}

#button20 {
  background-color: #273746;
  font-family: Comfortaa;
  font-size: 16px;
  border: 1px;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  margin: 5px;
  transition: all .2s ease-in-out;
  outline: none;
}

#button20:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#button20:active {
  transform: translateY(1px);
}


.logo {
	text-transform: uppercase;
  text-align: center;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Comfortaa;
  font-size: 7.5vw;
  position: inherit;
}

.subHeading {
  color: #2f3136;
  font-size: 25px;
  text-align: center;
  font-family: Comfortaa;
}

#p1 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p2 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p3 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p4 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p5 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p6 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p7 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p8 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p9 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p10 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p11 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p12 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p13 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p14 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p15 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}
#p16 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p17 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p18 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p19 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}

#p20 {
  color: #d8d8d8;
  position: fixed;
  margin-right: -9999px;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  font-family: Comfortaa;
  font-style: bold;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  margin-left: -60px;
  background-color: #273746;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 120px;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.75s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  margin-bottom: 5px;
}

.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #273746 transparent transparent transparent;
}

/* Tooltip container */
.githubTooltip {
  position: fixed;
  display: flex;
  margin-top: -6.5%;
  margin-left: .5%;
}

/* Tooltip text */
.githubTooltip .githubTooltipText {
  visibility: hidden;
  width: 120px;
	background: #273746;
  color: #fff;
  text-align: center;
  font-family: comfortaa;
  padding: 7.5px;
  border-radius: 6px;
  position: absolute;
  margin-left: 50px;
  opacity: 0;
  transition: opacity 0.55s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.githubTooltip:hover .githubTooltipText {
  visibility: visible;
  opacity: 1;
}

.githubTooltip .githubTooltipText:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #273746 transparent transparent;
}


#copyConfirm {
  font-family: comfortaa;
}
